.Timer {
  display: flex ;
  align-items: center ; 
  font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
 justify-content: center ;
 margin-top: 10%;
 position: relative;
 font-size: 48px;
}
h1{
  padding: 10px ;
}
span{
  margin: 15px ;

}
.clock {
  display: flex ;
}
.Unit{
  position: absolute ;
  left: 320px ;
  top : 200px ;
  
}
button {
  display: flex ;
  background-color: black;
  font-weight: bold  ; 
  color: white ; 
  width: 120px ; 
  height: 40px;
  justify-content: center ;
  border: none ; 
  border-radius: 5px ;
  margin: 10px;
  margin-left: 100px ;
  
  
}
.boutton {
  padding: 10px ;
}

